.admin-login__wrapper {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.login-inp{
    border-radius: 5px;
    padding: 10px;
}

.login-button{
    border-radius: 5px;
    padding: 10px;
    background: #0D52FF;
    color: white;
    border: none;
}

.login-button:hover{
    background: #1644bb;
    transition: all 0.3s;
}

.login-links{
    color: white;
    text-decoration: none;
}

.login-links:hover{
    color: white;
}