@import "../../vendors/mixins";

.causes_detail_comment {
    .detail_comment_bottom {
      display: flex;
      padding-top: 60px;
      border-bottom: 2px solid rgb(242, 240, 236);
      // img {
      //   height: 100px;
      //   max-width: 100%;
      // }
      p {
        @include text;
      }
      .bottom_title {
        padding-left: 15px;
        .title_left {
          display: flex;
          gap: 30px;
          padding-bottom: 20px;

          .left {
            display: flex;
            h4 {
              @include h3;
            }
            span {
              color: rgb(235, 37, 37);
              font-size: 16px;
              font-weight: 600;
              padding-top: 3px;
              padding-left: 15px;
            }
          }
          button {
            @include replyButton;
            margin-left: 40px;
          }
        }
      }
    }
    @media (max-width: 768px) {
      h3 {
        text-align: center;
      }
      .detail_comment_bottom {
        flex-direction: column;
        text-align: center;

        .title_left {
          flex-direction: column;
          .left {
            justify-content: center;
            padding-top: 20px;
          }
        }
      }
    }
  }
  .form {
    padding: 50px 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
    h3 {
      @include h3;
    }
    input{
      width: 100%;
      &::placeholder {
        color: #818181;
        font-weight: 400;
        font-size: 16px;
      }
    }
    textarea{
      width: 100%;
    }
    @media (max-width: 768px) {
      input {
        margin-bottom: 20px;

      }
    }
    input {
      @include input;

    }
    textarea {
      @include input;
    }
    button {
      @include sendButton;
      width: 150px;
    }
    button:hover {
      background-color: rgb(227, 105, 85);
    
    }
  }