@import "../../vendors/mixins";

.donate {
  padding-bottom: 30px;
  h2 {
    @include h3;
    padding-bottom: 20px;
  }
  .your_donation {
    position: relative;
    span {
      position: absolute;
      color: #fff;
      font-size: 80px;
      padding-left: 20px;
      font-family: "Playfair Display", sans-serif;
    }
    input {
      border: none;
      background-color: #f1ae44;
     padding: 30px 0;
      color: #fff;
      font-size: 50px;
      font-family: "Playfair Display", sans-serif;
      font-weight: 800;
      margin-bottom: 30px;
    }
  }

  .personal_info {
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-bottom: 30px;
    .personal_input{
        display: flex;
        justify-content: space-between;
    }

    input {
      border-radius: 5px;
      border: none;
      background-color: #f2f0ec;
      color: #818181;
      padding: 19px 70px;
      font-size: 16px;
     
    }
    select {
      border-radius: 5px;
      border: none;
      background-color: #f2f0ec;
      color: #818181;
      padding: 19px 100px;
      font-size: 16px;
     
    }
    textarea {
      border-radius: 5px;
      border: none;
      background-color: #f2f0ec;
      color: #818181;
      padding: 19px 20px;
      font-weight: 500;
      font-size: 16px;
      
    }
    @media (max-width:768px){
        .personal_input{
            display: flex;
            flex-direction: column;
            input{
              margin-bottom: 20px;
            }
        } 
    }
  }

  .payment_info {
    display: flex;
    flex-direction: column;
    gap:20px;
    .payment_input{
        display: flex;
        justify-content: space-between;
    }

    input {
      border-radius: 5px;
      border: none;
      background-color: #f2f0ec;
      color: #818181;
      padding: 19px 70px;
      font-size: 16px;
     
    }
    select {
      border-radius: 5px;
      border: none;
      background-color: #f2f0ec;
      color: #818181;
      padding: 19px 100px;
      font-size: 16px;
     
    }
  
    @media (max-width:768px){
        .payment_input{
            display: flex;
            flex-direction: column;
            input{
              margin-bottom: 20px;
            }
        } 
    }
  }
   
  button{
    margin-top: 20px;
    @include sendButton;
  }
}
