.news_detail {
  padding: 40px 0;
  background-color: rgb(242, 240, 236);
}
.news_detail .news_detail_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.news_detail .news_detail_title h2 {
  color: rgb(66, 66, 66);
  font-family: Playfair Display, serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  padding-bottom: 40px;
}
.news_detail .news_detail_title button {
  background-color: rgb(227, 105, 85);
  color: white;
  text-transform: uppercase;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.news_detail_area {
  padding: 50px 0;
}
.news_detail_area .detail_card_image {
  position: relative;
}
.news_detail_area .detail_card_image img {
  width: 100%;
}
.news_detail_area .detail_card_image span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 140px;
  height: 50px;
  padding: 30px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  background-color: rgb(134, 59, 174);
}
.news_detail_area .detail_card_title {
  border-bottom: 2px solid rgb(242, 240, 236);
}
.news_detail_area .detail_card_title h2 {
  font-size: 24px;
  font-weight: 800;
  color: #424242;
  font-family: Playfair Display, serif;
  padding-top: 20px;
}
.news_detail_area .detail_card_title ul {
  display: flex;
}
.news_detail_area .detail_card_title ul li {
  list-style: none;
  padding-right: 10px;
  padding-bottom: 20px;
  color: rgb(235, 37, 37);
  font-size: 12px;
  font-weight: 600;
}
.news_detail_area .detail_card_title p {
  line-height: 30px;
  font-size: 18px;
  color: #818181;
  font-weight: 480;
}
.news_detail_area .detail_tags {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(242, 240, 236);
  padding: 30px 0;
}
@media (max-width: 768px) {
  .news_detail_area .detail_tags {
    display: flex;
    flex-direction: column;
  }
  .news_detail_area .detail_tags .tags_right {
    padding-top: 20px;
    display: flex;
    align-items: center;
    margin-left: 60px;
  }
}
.news_detail_area .detail_tags .tags_left {
  display: flex;
  align-items: center;
}
.news_detail_area .detail_tags .tags_left span {
  font-size: 24px;
  font-weight: 800;
  color: #424242;
  font-family: Playfair Display, serif;
}
.news_detail_area .detail_tags .tags_left ul {
  display: flex;
}
.news_detail_area .detail_tags .tags_left ul li {
  list-style: none;
  margin-right: 5px;
  margin-left: 10px;
}
.news_detail_area .detail_tags .tags_left ul li .left_link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  background-color: rgb(241, 174, 68);
  color: white;
  border: none;
  line-height: 29px;
  font-size: 13px;
  font-weight: 700;
  height: 50px;
  width: 180px;
  -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
  padding: 10px 30px;
}
.news_detail_area .detail_tags .tags_right ul {
  display: flex;
  gap: 20px;
}
.news_detail_area .detail_tags .tags_right ul li {
  list-style: none;
}
.news_detail_area .detail_tags .tags_right ul li a {
  text-decoration: none;
}
.news_detail_area .detail_tags .tags_right ul li a i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px 20px;
  width: 50px;
  height: 50px;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}
.news_detail_area .detail_tags .tags_right ul li a .icon1 {
  background-color: rgb(80, 186, 195);
}
.news_detail_area .detail_tags .tags_right ul li a .icon2 {
  background-color: rgb(227, 105, 85);
}
.news_detail_area .detail_tags .tags_right ul li a .icon3 {
  background-color: rgb(241, 174, 68);
}
.news_detail_area .detail_tags .tags_right ul li a .icon4 {
  background-color: rgb(134, 59, 174);
}
.news_detail_area .detail_comment_top {
  display: flex;
  background-color: rgb(242, 240, 236);
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px 30px;
}
.news_detail_area .detail_comment_top img {
  height: 100%;
}
.news_detail_area .detail_comment_top h2 {
  font-size: 24px;
  font-weight: 800;
  color: #424242;
  font-family: Playfair Display, serif;
  padding-left: 30px;
}
.news_detail_area .detail_comment_top p {
  line-height: 30px;
  font-size: 18px;
  color: #818181;
  font-weight: 480;
  padding-left: 30px;
}
.news_detail_area .detail_comment_bottom {
  display: flex;
  padding-top: 60px;
  border-bottom: 2px solid rgb(242, 240, 236);
}
.news_detail_area .detail_comment_bottom img {
  height: 100%;
}
.news_detail_area .detail_comment_bottom p {
  line-height: 30px;
  font-size: 18px;
  color: #818181;
  font-weight: 480;
}
.news_detail_area .detail_comment_bottom .bottom_title {
  padding-left: 15px;
}
.news_detail_area .detail_comment_bottom .bottom_title .title_left {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.news_detail_area .detail_comment_bottom .bottom_title .title_left .left {
  display: flex;
}
.news_detail_area .detail_comment_bottom .bottom_title .title_left .left h4 {
  font-size: 24px;
  font-weight: 800;
  color: #424242;
  font-family: Playfair Display, serif;
}
.news_detail_area .detail_comment_bottom .bottom_title .title_left .left span {
  color: rgb(235, 37, 37);
  font-size: 16px;
  font-weight: 600;
  padding-top: 3px;
  padding-left: 15px;
}
.news_detail_area .detail_comment_bottom .bottom_title .title_left button {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  background-color: rgb(241, 174, 68);
  color: white;
  border: none;
  line-height: 29px;
  font-size: 13px;
  font-weight: 700;
  height: 40px;
  width: 100px;
  -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}
@media (max-width: 768px) {
  .news_detail_area h3 {
    text-align: center;
  }
  .news_detail_area .detail_comment_bottom {
    flex-direction: column;
    text-align: center;
  }
  .news_detail_area .detail_comment_bottom .title_left {
    flex-direction: column;
  }
  .news_detail_area .detail_comment_bottom .title_left .left {
    justify-content: center;
    padding-top: 20px;
  }
}

.form {
  padding: 50px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.form h3 {
  font-size: 24px;
  font-weight: 800;
  color: #424242;
  font-family: Playfair Display, serif;
}
.form .form_top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .form .form_top {
    flex-direction: column;
  }
  .form input {
    margin-bottom: 20px;
  }
}
.form input {
  border: none;
  background-color: rgb(242, 240, 236);
  padding: 20px 20px;
  line-height: 30px;
  font-size: 18px;
  color: #818181;
  font-weight: 480;
  border-radius: 4px;
  padding-left: 100px;
}
.form textarea {
  border: none;
  background-color: rgb(242, 240, 236);
  padding: 20px 20px;
  line-height: 30px;
  font-size: 18px;
  color: #818181;
  font-weight: 480;
  border-radius: 4px;
}
.form button {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  background-color: rgb(241, 174, 68);
  color: white;
  border: none;
  line-height: 29px;
  font-size: 13px;
  font-weight: 700;
  height: 50px;
  width: 180px;
  -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}
.form button:hover {
  background-color: rgb(227, 105, 85);
}

.news_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news_right input {
  background-color: rgb(64, 8, 117);
  color: white;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  padding: 30px 100px;
}
.news_right .recent_posts {
  background-color: rgb(242, 240, 236);
  padding: 50px 30px;
}
.news_right .recent_posts h3 {
  font-size: 24px;
  font-weight: 800;
  color: #424242;
  font-family: Playfair Display, serif;
}
.news_right .recent_posts .post {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid white;
}
.news_right .recent_posts .post h4 {
  padding-left: 20px;
  font-size: 15px;
  font-weight: 800;
  color: #424242;
  font-family: Playfair Display, serif;
}
.news_right .recent_posts .post h4:hover {
  color: rgb(227, 105, 85);
}
.news_right .categories {
  background-color: rgb(242, 240, 236);
  padding: 50px 30px;
}
.news_right .categories h3 {
  font-size: 24px;
  font-weight: 800;
  color: #424242;
  font-family: Playfair Display, serif;
}
.news_right .categories ul li {
  list-style: none;
  padding-bottom: 10px;
}
.news_right .categories ul li a {
  text-decoration: none;
  line-height: 30px;
  font-size: 16px;
  color: #818181;
  font-weight: 600;
}
@media (max-width: 768px) {
  .news_right .categories ul li {
    text-align: center;
  }
}

.popular_tags {
  background-color: rgb(242, 240, 236);
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popular_tags h3 {
  font-size: 24px;
  font-weight: 800;
  color: #424242;
  font-family: Playfair Display, serif;
}
.popular_tags .popular_link {
  margin-left: 5px;
}
.popular_tags .popular_link button {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  background-color: white;
  color: #818181;
  border: none;
  line-height: 29px;
  font-size: 13px;
  font-weight: 700;
  height: 40px;
  width: 100px;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}/*# sourceMappingURL=newsDetail.css.map */