@import "../../../vendors/mixins";
.large{
 // width: 100% ;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  border: none;
}



.eventAdd {
  padding: 60px 0;
  @include backcolor;
  .eventAdd_title {
    @include causestitle;
    padding-bottom: 0;
    h2 {
      @include pagetitle;
    }
    button {
      @include buttonpreparty;
    }
  }
}