.navbar_top {
  width: 100%;
  background-color: rgb(242, 240, 236);
  padding: 20px 0;
}

ul {
  margin: 0;
  padding: 0;
}

.navbar-left-list {
  justify-content: flex-start;
}

.navbar-right-list {
  justify-content: flex-end;

  .link {
    margin-left: 15px;
  }
}

.lists {
  display: flex;
  align-items: center;
  .list {
    list-style: none;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    .link {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      color: rgb(129, 129, 129);
      .navbar_top_left {
        color: rgb(236, 152, 67);
      }
      .telephone {
        background-color: rgb(236, 152, 67);
        border-radius: 2px;
        padding: 3px 3px;
        color: black;
          font-size: 8px;
       
      }
    }
    .link:hover {
      color: rgb(236, 152, 67);
    }
  }
}
.navbar_bottom {
  width: 100%;
  // position: fixed;
  padding: 30px 0;
  // z-index: 99;
  // background-color: aliceblue;
  // top: 0;

  .bottom_lists {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 0;
    .bottom_list {
      position: relative;
      list-style: none;
      font-size: 16px;
      font-family: "Poppins", sans-serif;

      .bottom_link {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: rgb(129, 129, 129);
      }
    }
  }

  .bottom_left_logo {
    display: flex;
    justify-content: space-around;

    button {
      border: none;
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      background-color: rgb(227, 105, 85);
      color: white;
      width: 150px;
      height: 40px;
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    }
    button:hover {
      background-color: #f1ae44;
    }
  }

  .home_drop {
    visibility: hidden;
    position: absolute;
  }
  .home:hover {
    .home_drop {
      visibility: visible;
    }
  }
  .causes_drop {
    visibility: hidden;
    position: absolute;
  }
  .causes:hover {
    .causes_drop {
      visibility: visible;
    }
  }
  .events_drop {
    visibility: hidden;
    position: absolute;
  }
  .events:hover {
    .events_drop {
      visibility: visible;
    }
  }
  .news_drop {
    visibility: hidden;
    position: absolute;
  }
  .news:hover {
    .news_drop {
      visibility: visible;
    }
  }
  .pages_drop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  .pages:hover {
    .pages_drop {
      visibility: visible;
      opacity: 1;
    }
  }

  .dropdown_lists {
    padding: 10px 10px;
    width: 200px;
    background-color: white;
    z-index: 99;
  }
}
.hamburger_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;

  background-color: rgb(207, 206, 206);
}
.hamburger_icon:hover {
  transition: 0.5s;
  background-color: orangered;
  color: white;
}

.modal-content {
  background-color: black;
  .btn-close {
    background-color: aliceblue;
  }
  .modal_list {
    list-style: none;
  }
  .modal_link {
    text-decoration: none;
    color: rgb(223, 223, 223);
  }
  .modal_link:hover {
    color: rgb(255, 113, 61);
  }
  .modal_button {
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    background-color: rgb(227, 105, 85);
    color: white;
    width: 150px;
    height: 40px;
    clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
  }
  .modal_button:hover {
    background-color: #f1ae44;
  }

  .modal_contact_list {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .list1 {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 10px 10px;
    background-color: rgb(80, 186, 195);
  }
  .list2 {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    background-color: rgb(227, 105, 85);
  }
  .list3 {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    background-color: rgb(241, 174, 68);
  }
  .list4 {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    background-color: rgb(135, 60, 174);
  }
}
