.charity {
  .text_slide{
    .swiper-button-next,.swiper-button-prev{
      width: 30px;
      height: 30px;
      cursor: pointer;
      background-color: rgb(196, 101, 101);
      color:rgb(196, 101, 101);
      clip-path: polygon(0 0, 100% 0, 72% 100%, 0% 100%);
     
    }
  
  }
   
 
  .charity_left {
    display: flex;
    border-bottom: 2px solid rgb(242, 240, 236);

    .charity_left_icon {
      i {
        font-size: 65px;
        line-height: 65px;
        color: #424242;
      }
    }
    h3 {
      font-size: 50px;
      line-height: 55px;
      font-weight: 800;
      margin-bottom: 13px;
      color: #424242;
      font-family: Playfair Display, serif;
   
    }
    p {
      color: #e36955;
      font-family: Poppins, sans-serif;
      font-weight: 600;
    }
  }
  .charity_right {
    height: 500px;
    padding: 70px 70px;
    h3 {
      font-family: Playfair Display, serif;
      max-width: 600px;
      font-size: 30px;
      line-height: 54px;
      color: #fff;
      font-weight: 700;
      animation: pulse;
      animation-duration: 2s;
    }
    p {
      color: #424242;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      color: white;
      font-size: 60px;
    }
  }
}
@media (max-width:490px){
  .charity_right{
    h3{
      font-size:20px!important ;
      line-height: 24px !important ;
     }
  }
 
}