@import "../vendors//mixins";

.news_detail {
  padding: 40px 0;
  @include backcolor;
  .news_detail_title {
    @include causestitle;
    h2 {
      @include pagetitle;
    }
    button {
      @include buttonpreparty;
    }
  }
}
.news_detail_area {
  padding: 50px 0;
  .detail_card_image {
    position: relative;
    img {
      width: 100%;
    }
    span {
      @include display;
      @include news_date;
      background-color: rgb(134, 59, 174);
    }
  }
  .detail_card_title {
    border-bottom: 2px solid rgb(242, 240, 236);
    h2 {
      @include h3;
      padding-top: 20px;
    }
    ul {
      display: flex;
      li {
        list-style: none;
        padding-right: 10px;
        padding-bottom: 20px;
        color: rgb(235, 37, 37);
        font-size: 12px;
        font-weight: 600;
      }
    }
    p {
      @include text;
    }
  }
  .detail_tags {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(242, 240, 236);
    padding: 30px 0;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      .tags_right {
        padding-top: 20px;
        display: flex;
        align-items: center;
        margin-left: 60px;
      }
    }
    .tags_left {
      display: flex;
      align-items: center;
      span {
        @include h3;
      }
      ul {
        display: flex;
        li {
          list-style: none;
          margin-right: 5px;
          margin-left: 10px;
          .left_link {
            text-decoration: none;
            @include sendButton;
            padding: 10px 30px;
          }
        }
      }
    }
    .tags_right {
      ul {
        display: flex;
        gap: 20px;
        li {
          list-style: none;
          a {
            text-decoration: none;
            i {
              @include link;
            }
            .icon1 {
              background-color: rgb(80, 186, 195);
            }
            .icon2 {
              background-color: rgb(227, 105, 85);
            }
            .icon3 {
              background-color: rgb(241, 174, 68);
            }
            .icon4 {
              background-color: rgb(134, 59, 174);
            }
          }
        }
      }
    }
  }

  .detail_comment_top {
    display: flex;
    background-color: rgb(242, 240, 236);
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px 30px;
    img {
      height: 100%;
    }
    h2 {
      @include h3;
      padding-left: 30px;
    }
    p {
      @include text;
      padding-left: 30px;
    }
  }
  //   @media (max-width:576px){
  //     .detail_comment_top{
  //         flex-direction: column;
  //     }
  //   }

  .detail_comment_bottom {
    display: flex;
    padding-top: 60px;
    border-bottom: 2px solid rgb(242, 240, 236);
    img {
      height: 100%;
    }
    p {
      @include text;
    }
    .bottom_title {
      padding-left: 15px;
      .title_left {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;

        .left {
          display: flex;
          h4 {
            @include h3;
          }
          span {
            color: rgb(235, 37, 37);
            font-size: 16px;
            font-weight: 600;
            padding-top: 3px;
            padding-left: 15px;
          }
        }
        button {
          @include replyButton;
        }
      }
    }
  }
  @media (max-width: 768px) {
    h3 {
      text-align: center;
    }
    .detail_comment_bottom {
      flex-direction: column;
      text-align: center;

      .title_left {
        flex-direction: column;
        .left {
          justify-content: center;
          padding-top: 20px;
        }
      }
    }
  }
}
.news_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  input {
    background-color: rgb(64, 8, 117);
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    padding: 30px 100px;
  }
  .recent_posts {
    h3 {
      @include h3;
    }
    background-color: rgb(242, 240, 236);
    padding: 50px 30px;
    .post {
      display: flex;
      padding: 30px 0;
      border-bottom: 1px solid white;

      h4 {
        padding-left: 20px;
        font-size: 15px;
        font-weight: 800;
        color: #424242;
        font-family: Playfair Display, serif;
      }
      h4:hover {
        color: rgb(227, 105, 85);
      }
    }
  }
  .categories {
    background-color: rgb(242, 240, 236);
    padding: 50px 30px;
    h3 {
      @include h3;
    }
    ul {
      li {
        list-style: none;
        padding-bottom: 10px;
        a {
          text-decoration: none;
          line-height: 30px;
          font-size: 16px;
          color: #818181;
          font-weight: 600;
        }
      }

      @media (max-width: 768px) {
        li {
          text-align: center;
        }
      }
    }
  }
}
.popular_tags{
    h3 {
        @include h3;
      }
      background-color: rgb(242, 240, 236);
      padding: 50px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .popular_link{
        margin-left: 5px;
        button{
            text-transform: uppercase;
            font-family: Poppins, sans-serif;
            background-color:white ;
            color: #818181;
            border: none;
            line-height: 29px;
            font-size: 13px;
            font-weight: 700;
            height: 40px;
            width: 100px;
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          }
      }
}