.volunteer {
  padding: 40px 0;
  background-color: rgb(242, 240, 236);
}
.volunteer .volunteer_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.volunteer .volunteer_title h2 {
  color: rgb(66, 66, 66);
  font-family: Playfair Display, serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  padding-bottom: 40px;
}
.volunteer .volunteer_title button {
  background-color: rgb(227, 105, 85);
  color: white;
  text-transform: uppercase;
  border: none;
  width: 150px;
  height: 50px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.volunteer_area {
  padding: 50px 0;
}
.volunteer_area .volunteer_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
}
.volunteer_area .volunteer_title h2 {
  font-size: 50px;
  font-weight: 800;
  color: #424242;
  font-family: Playfair Display, serif;
}
.volunteer_area .volunteer_title h6 {
  color: blueviolet;
}
.volunteer_area .left_area img {
  padding-bottom: 20px;
  width: 100%;
}
.volunteer_area .left_area h4 {
  font-size: 24px;
  font-weight: 800;
  color: #424242;
  font-family: Playfair Display, serif;
}
.volunteer_area .left_area p {
  line-height: 30px;
  font-size: 18px;
  color: #818181;
  font-weight: 480;
  padding-bottom: 10px;
}
.volunteer_area .left_area p i {
  color: red;
}
.volunteer_area .left_area .become_contact {
  display: flex;
  gap: 50px;
}
.volunteer_area .left_area .become_contact span {
  font-size: 20px;
}
.volunteer_area .left_area .become_contact a {
  text-decoration: none;
  color: rgb(175, 1, 1);
}
.volunteer_area .form {
  padding-left: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.volunteer_area .form input {
  border: none;
  background-color: rgb(242, 240, 236);
  padding: 20px 20px;
  line-height: 30px;
  font-size: 18px;
  color: #818181;
  font-weight: 480;
  border-radius: 4px;
}
.volunteer_area .form textarea {
  border: none;
  background-color: rgb(242, 240, 236);
  padding: 20px 20px;
  line-height: 30px;
  font-size: 18px;
  color: #818181;
  font-weight: 480;
  border-radius: 4px;
}
.volunteer_area .form button {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  background-color: rgb(241, 174, 68);
  color: white;
  border: none;
  line-height: 29px;
  font-size: 13px;
  font-weight: 700;
  height: 50px;
  width: 180px;
  -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}
.volunteer_area .form button:hover {
  background-color: rgb(227, 105, 85);
}
@media (max-width: 768px) {
  .volunteer_area .form {
    padding: 30px 0px 30px 0px;
  }
}
@media (max-width: 992px) {
  .volunteer_area .form {
    padding: 30px 0px 30px 0px;
  }
}/*# sourceMappingURL=volunteer.css.map */